.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100%; 
  background-color: #f0f0f0;
  padding: 20px;
  overflow: visible; 
  padding-top: 20px; 
  position: relative; 
  top: 20px; 
}

.level-selector {
  margin-bottom: 20px;
  font-size: 1.5rem;
  padding: 10px;
  cursor: pointer;
}

.game-board {
    border-collapse: collapse; 
    background-color: black; 
    width: auto; 
    table-layout: fixed; 
}

.game-board tr {
    border: none;
}

.game-board td {
    border: 1px solid #d018bd; 
    padding: 0; 
    text-align: center;
    vertical-align: middle;
    width: 50px; 
    height: 50px; 
    background-color: sgrey; 
}



.letter-cell {
  background-color: white; 
}

.letter-cell input {
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent; 
  text-align: center;
  font-size: large;
  color: black;
  outline: none;
}

.letter-cell input {
  width: 100%;
  height: 100%;
  border: none;  
  background-color: transparent; 
  text-align: center;
  font-size: large;
  color: black;
  outline: none;
}

.letter-cell input.correct {
  background-color: lightgreen;
  color: black;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-size: large;
}


.clue-cell {
  color: white;
  cursor: pointer;
}

/* App.css */
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-family: 'Arial', sans-serif;
}

.app-title {
  font-size: 1.8rem; 
}

.app-instructions {
  font-size: 1rem; 
  text-align: center; 
  margin: 0 10px; 
}

@media (max-width: 600px) {
  .app-title {
      font-size: 1.6rem; 
  }
  .app-instructions {
      font-size: 0.9rem;
  }
}
.clue-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.empty-cell {
  background-color: rgb(39, 39, 39);  
  background-image: linear-gradient(to right, 
      rgba(255, 255, 255, 0) 0%, 
      rgba(255, 255, 255, 0.2) 25%, 
      rgba(255, 255, 255, 0.8) 50%, 
      rgba(255, 255, 255, 0.2) 75%, 
      rgba(255, 255, 255, 0) 100%);
  background-size: 200% 100%; 
  animation: shimmer 10s infinite linear;
}


@keyframes shimmer {
  0% {
      background-position: -100%; 
  }
  100% {
      background-position: 100%; 
  }
}


.attribution {
  font-size: 0.8rem; 
  color: #888;       
  text-align: center;
  margin-top: 20px;   
  margin-bottom: 10px; 
  width: 100%;       
}