/* General App Styles */
.app-container {
  text-align: center;
  padding: 20px;
}

.app-title {
  font-size: 2em;
  
  margin-bottom: 0.5em;
}

.app-instructions {
  margin-bottom: 2em;
  font-size: 1em;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

/* Game Board Styles */
.game-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center children horizontally in the container */
}

.game-board {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  margin: 20px;
}

.grid-row {
  display: flex;
}

.grid-cell {
  width: 30px;
  height: 30px;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* Input and Icon Styles */
.input {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

.clue-icon {
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  border: none;
  cursor: pointer;
}

/* Cell State Styles */
.unused-cell {
  background-color: darkgrey;
}

.correct-guess .input {
  background-color: lightgreen;
}

/* Clue Display Area Styles */
.clue-display-area img {
  max-width: 100%;
  max-height: 200px;
  object-fit: contain;
}

/* Responsive Design Adjustments */
@media (max-width: 768px) {
  .clue-display-area img {
    max-height: 150px;
  }
}

@media (max-width: 480px) {
  .clue-display-area img {
    max-height: 100px;
  }
}
.level-selection {
  margin-bottom: 20px;
}

.level-selection button {
  margin-right: 10px;
  padding: 5px 10px;
}
